doctype html
form(action='/response' method='post')
  label name
  input(type='text' name='name' value='')
  label email
  input(type='text' name='email' value='')
  fieldset
    label attending?   
    label yes
    input(type='radio' name='Attending' value='true')
    label no
    input(type='radio' name='notAttending' value='false')
  fieldset
    legend Will you bring friends, and if so how many? Otherwise leave select field blank
    select(name='friends')
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
      option(value='4') 4
      option(value='5') 5
      option(value='6') 6
      option(value='7') 7
      option(value='8') 8
  button(type='submit') Submit